img{
    border-radius: 50%;
    height: 105px;
    width: 105px;
    position: relative;
    bottom: 80px;
}

.bg-color{
    background-color: lightgrey;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Anton Regular",sans-serif;
    text-align: center;
}

h4 {
    color: black;
}

nav {
    background-color: inherit;
}

.main-header{
    margin-top: 5rem;
    font-weight: bold;
    font-size: 64px;
}

.from{
    font-weight: bold;
    font-size: 45px;
}

.header-div{
    height: 100px;
    width: 100%;
    background-color: white;
    margin-top: 40px;

}

.spheres{
    text-align: center;
    line-height: 210px;
    border-radius: 50%;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Anton Regular", sans-serif;
    border: white 15px solid;
    color: white;
    height: 250px;
    width: 250px;
    display: inline-block;
}

.big-margin-bottom{
    margin-bottom: 10em;
}