img{
    border-radius: 50%;
    height: 105px;
    width: 105px;
}

.bg-color{
    background-color: lightgrey;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Anton Regular",sans-serif;
}

h4 {
    color: black;
}

nav {
    background-color: inherit;
}

.main-header{
    margin-top: 5rem;
    font-weight: bold;
    font-size: 64px;
}

.from{
    font-weight: bold;
    font-size: 45px;
}

/*.header-div{*/
    /*height: 100px;*/
    /*width: 100%;*/
    /*background-color: white;*/

/*}*/