header img{
    border-radius: 50%;
    height: 255px;
    width: 255px;
    position: relative;
    bottom: 180px;
}

.max-width {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.container-bg{
    background-color: lightgrey;
    padding: 7em 0 9em 0;
}

aside img {
    width: 50px;
    height: 50px;
    margin-left: .5em;
    margin-right: 1em;
}

.aside-text{
    font-size: 20px;
    font-weight: bold;
    font-family: "Anton Regular", sans-serif;
    text-transform: uppercase;
    margin-left: 1em;
    display: block;
}

.twitter-aside{

    padding: 0 2em;
    font-size: small;
    font-weight: lighter;

}

.h1-rel-up{
    position: relative;
    bottom: 150px;
}

.nav-rel-up{
    position: relative;
    bottom: 100px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Anton Regular",sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

h4 {
    color: black;
    font-weight: normal;
    font-size: 15px;
}

nav {
    background-color: inherit;
}

.main-header{
    font-size: 50px;
    clear: both;
}

.from{
    font-weight: bold;
    font-size: 45px;
}

.header-div{
    height: 100px;
    width: 100%;
    background-color: white;

}

.spheres{
    text-align: center;
    line-height: 160px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Anton Regular", sans-serif;
    border: white 10px solid;
    color: white;
    display: inline-block;
}

.big-margin-bottom{
    margin-bottom: 10em;
}

 .techimg {
    padding: 15px;
    background-color: rgba(180,180,180, .25);
    height: 100%;
}
h3  {
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
    font-size: 38px;
    text-transform: uppercase;
}

.icon{
    border-radius: 50%;
    font-weight: bold;
    font-family: "Anton Regular", sans-serif;
    font-size: 1.5em;
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}

.hr-small {
    width: 65%;
}

.h1-rel-up{
    text-transform: lowercase;
    font-weight: lighter;
}

@media screen and (min-width:576px) {
    header img {
        height: 105px;
        width: 105px;
        bottom: 80px;
    }

    .h1-rel-up {
        bottom: 80px;
    }

    .header-div {
        height: 50px;
    }

    .icon{
        height: 18px;
        width: 18px;
        font-size: 1em;
        line-height: 20px;
    }

    h5{
        font-family: 'Abel', sans-serif;
        font-weight: lighter;
    }
}



@media screen and (min-width:768px){
    header img{
        float: left;
    }

    .h1-rel-up{
        float: left;
        bottom: 50px;
    }

    .hr-small{
        width: 90%;
    }
}

@media screen and (min-width:992px) {
    header img {
        float: none;
        right: 340px;


    }
    .h1-rel-up {
        float: none;
        right: 145px;
        bottom: 153px;
    }
    .lrg-nav-margin {
        padding-right: 5em;
    }
}


@media screen and (max-width:576px) {
    .hidden-extrasmall {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .hidden-small {
        display: none;
    }
}


